<section class="section">
  <div class="page-width">
    <h1 class="h1">{{ section.settings.heading | default: "Request a Quote" }}</h1>
    <div id="cde0e6c9-6256-4c85-812a-cc4f328218f9"></div>
    <link rel="stylesheet" href="https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css" media="screen" />
    <script src="https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_snippet.js"
      clienthub_id="cde0e6c9-6256-4c85-812a-cc4f328218f9"
      form_url="https://clienthub.getjobber.com/client_hubs/cde0e6c9-6256-4c85-812a-cc4f328218f9/public/work_request/embedded_work_request_form">
    </script>
    {% if section.settings.disclaimer != blank %}
      <p class="color-subdued" style="margin-top:12px">{{ section.settings.disclaimer }}</p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name":"Jobber Request",
  "settings":[
    { "type":"text", "id":"heading", "label":"Heading", "default":"Request a Quote" },
    { "type":"textarea", "id":"disclaimer", "label":"Disclaimer", "default":"By submitting this form, you agree to receive promotional messages from Barry’s Pro Cleaning LLC. Msg frequency varies. Msg and data rates may apply." }
  ],
  "presets":[ { "name":"Jobber Request" } ]
}
{% endschema %}
